.DS_Store
.IdentityService/
.ServiceHub/
.ammonite/
.aspnet/
.avidemux6/
.bashrc
.bundle/
.cache/
.cargo/
.config/btop/
.config/gh/
.config/spring-shell-samples/
.docker/
.dotnet/
.env_variables
.fzf.bash
.fzf.zsh
.gitconfig
.gnupg/
.gradle/
.jenv/
.lemminx/
.lesshst
.local/
.m2/
.mitmproxy/
.mono/
.net/
.npm/
.nuget/
.oh-my-zsh/
.p2/
.psql_history
.skiko/
.sonar/
.ssh/
.templateengine/
.terminfo/
.texlive2023/
.thumbnails/
.tmux.conf
.viminfo
.vscode/
.zcompdump*
.zprofile
.zprofile.bak
.zsh_sessions/
Applications/
Config/
DEV/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
RoslynLangServer/
WebstormProjects/
ZelCore/
dotnet-core-uninstall/
eclipse-workspace/
eclipse/
help/
istalled.txt
istat-menus-license.txt
java_error_in_idea_*
.aliasrc.private
.config/NuGet/
.config/SmartSetMasterErgo*
.config/htop/
.config/iterm2/
.config/jgit/
.config/mc/
.config/op/
.config/qBittorrent/
.zsh_history
.Trash/
.zshrc
.config/nvim/plugin/packer_compiled.lua
