.DS_Store
.IdentityService/
.ServiceHub/
.ammonite/
.aspnet/
.avidemux6/
.bashrc
.bundle/
.cache/
.cargo/
.config/btop/
.config/gh/
.config/NuGet/
.config/SmartSetMasterErgo*
.config/htop/
.config/iterm2/
.config/jgit/
.config/mc/
.config/op/
.config/qBittorrent/
.config/spring-shell-samples/
.config/nvim/plugin/packer_compiled.lua
.docker/
.dotnet/
.env_variables
.fzf.bash
.fzf.zsh
.gitconfig
.gnupg/
.gradle/
.jenv/
.lemminx/
.lesshst
.local/
.m2/
.mitmproxy/
.mono/
.net/
.npm/
.nuget/
.oh-my-zsh/
.p2/
.psql_history
.skiko/
.sonar/
.ssh/
.templateengine/
.terminfo/
.texlive2023/
.thumbnails/
.vim/
.viminfo
.vscode/
.zcompdump*
.zprofile
.zprofile.bak
.zsh_sessions/
Applications/
Config/
DEV/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
RoslynLangServer/
WebstormProjects/
ZelCore/
bin/
dotnet-core-uninstall/
eclipse-workspace/
eclipse/
help/
go/
istalled.txt
istat-menus-license.txt
java_error_in_idea_*
.aliasrc.private
.zsh_history
.Trash/
.zshrc
.eclipse
.CFUserTextEncoding
.alias
.aliasrc.booking
.android/
.atom/
.bash_history
.bash_login
.bash_profile
.bkcloud/
.bomgar-scc-cb/
.booking.zshrc
.bookstrap
.buck-cache/
.config/SpecFlow/
.config/flipper/
.config/gh-copilot/
.config/wireshark/
.cpan/
.cpanm/
.cups/
.emulator_console_auth_token
.flipper/
.git-prompt.sh
.inputrc
.kube/
.local-dev-kube-configs/
.perlcriticrc
.perltidyrc
.pnpm-state/
.profile
.prompt
.replyrc
.shell.pre-oh-my-zsh
.swiftpm/
.vim-undo/
.yarn/
.yarnrc
.zshrc.pre-oh-my-zsh
bin/intellij.sh
bin/webstorm.sh
git_tree/
perl5/
settings.xml
zsh-syntax-highlighting/
.netcoredbg_hist
.rustup
.wget-hsts
~/PycharmProjects
~/bin/idea
~/bin/rider
~/PycharmProjects/
.matplotlib/
.sqlite_history
Sites/
.config/nvim/lazy-lock.json
