" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=10
set clipboard+=unnamed

" Do incremental searching.
set incsearch

" leader character
let mapleader = " "
" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'

set relativenumber
set number

" Save all files
map <C-s> <Action>(SaveAll)
" Refactor - rename
map <leader>rr <Action>(RenameElement)
" silently clean up code
map <leader>ccl <Action>(SilentCodeCleanup)
" map build the solution
map <leader>bb <Action>(BuildSolutionAction)
" map open solution view
" map <leader>e <Action>(ActivateProjectToolWindow)
map <leader>e :NERDTree<CR>
" the below comes from LazyVim
map <C-h> :NERDTree<CR>
map <leader>ec :NERDTreeClose<CR>
map <leader>ee <Action>(HideActiveWindow)
"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
map <leader>rf <Action>(ReformatCode)
map <leader>tt <Action>(RiderUnitTestRunSolutionAction)
map K <Action>(QuickJavaDoc)
" closing the actual tab
map <leader>bd <Action>(CloseContent)
" One step Back - equals to Ctrl-o in LazyVim
map <C-o> <Action>(Back)
"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)